* {
  box-sizing: border-box;
  font-family: "Lora", serif;
}

html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: auto;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2973;
  color: #05f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBar {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #05c7f2;
  background-color: lightgrey;
}
.individualPost {
  margin: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 400px;
  border: 1px solid #716df2;
  box-shadow: 4px 8px 8px -2px #716df2;
  border-radius: 8px;
}

.individualPost > h3 {
  text-decoration: underline;
}

.individualPost > label {
  margin-top: 6px;
  font-weight: bold;
}

.messageLink {
  background-color: #df61c3;
  width: 125px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #2c2973;
  font-weight: bold;
}

.messageLink:hover {
  cursor: pointer;
  background-color: black;
  color: #05c7f2;
}

nav {
  margin-top: 0.5em;
  margin-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.navLink {
  color: #05c7f2;
  margin: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: black;
  border-radius: 3px;
}
.navLink:hover {
  cursor: pointer;
  background-color: #df61c3;
  color: #2c2973;
}

.newMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.newMessage > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sendMessage {
  margin: 8px;
}

#messageForm {
  margin-top: 6px;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #05c7f2;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  padding-top: 5px;
}
.logout:hover {
  cursor: pointer;
  background-color: #df61c3;
  color: #2c2973;
}

.profile {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.activePost > h3 {
  text-decoration: underline;
}

.message {
  border-bottom: 2px solid #05c7f2;
  padding: 0.5em;
}

.activePost {
  border-bottom: 2px solid #05c7f2;
  padding: 0.5em;
}

.inactivePost {
  border-bottom: 2px solid #05c7f2;
}

.deleteBtn {
  background-color: #b62196;
  border-radius: 6px;
  margin-left: 0.5em;
  box-shadow: 4px 4px 4px -2px #716df2;
  border: 1px solid #05c7f2;
}
.deleteBtn:hover {
  cursor: pointer;
  background-color: black;
  color: #05c7f2;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding-top: 3rem;
}
.title {
  margin: 3px;
}

.description {
  margin: 3px;
}

.price {
  margin: 3px;
}

.location {
  margin: 3px;
}

.title > label {
  margin-right: 5px;
}

.description > label {
  margin-right: 5px;
}

.price > label {
  margin-right: 5px;
}

.location > label {
  margin-right: 5px;
}

.submitBtn {
  margin: 5px;
  background-color: black;
  color: #05c7f2;
  border: 1px solid #05c7f2;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px -2px #716df2;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #df61c3;
  color: #2c2973;
}

.deliverCheckbox:hover {
  cursor: pointer;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName > label {
  margin-right: 5px;
}

.password > label {
  margin-right: 9px;
}

.loginBtn {
  margin-top: 10px;
  background-color: black;
  color: #05c7f2;
  border: 1px solid #05c7f2;
  box-shadow: 4px 4px 4px -2px #716df2;
  border-radius: 4px;
  font-size: 15px;
  padding: 4px;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: #df61c3;
  color: #2c2973;
}

.input {
  border-radius: 4px;
  border: 1px solid #05c7f2;
  background-color: lightgrey;
}
